<div class="dashboard">
    <div class="title">
        <h1>Dashboard</h1>
    </div>
    <div class="content-view">
        <div class="summary-info">
            <div class="sumary total-produce-card">
                <span>3</span>
                <h1>Total products</h1>
                <span>More info</span>
            </div>
            <div class="sumary total-paid-card">
                <span>3</span>
                <h1>Total paid order</h1>
                <span>More info</span>
            </div>
            <div class="sumary total-user-card">
                <span>3</span>
                <h1>Total Users</h1>
                <span>More info</span>
            </div>
            <div class="sumary total-store-card">
                <span>3</span>
                <h1>Total store</h1>
                <span>More info</span>
            </div>
        </div>
    </div>
</div>